<main>
    <div class="signin">
        <h1 class="ut-title-1">Login</h1>
        <form [formGroup]="formLogin">
            <mat-form-field class="input">
                <input formControlName="email" matInput type="email" placeholder="E-mail" required>
            </mat-form-field>

            <mat-form-field class="input">
                <input formControlName="password" matInput  type="password" placeholder="Senha" required>
            </mat-form-field>

            <div>
                <span>{{ erroLogin }}</span>
            </div>

            <button mat-raised-button color="primary" (click)="onLogin()">Logar</button>
        </form>

    </div>
    <!--
    <pre>
        {{ formLogin.value | json }}
    </pre>
    -->
</main>