<div class="form-line">
  <div>
    <div class="form-field" [formGroup]="formGroup" [ngClass]="getDivClass()">
      <label [for]="controlName">
        {{ title }}
      </label>
      <div class="form-line">
        <input [matDatepicker]="picker" [id]="controlName" [formControlName]="controlName" [placeholder]="placeholder"
          #target (focus)="setFocus(target)" (focusout)="lossFocus()" />
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <mat-error *ngFor="let error of getErrors()">
      {{ error }}
    </mat-error>
  </div>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
</div>
