# See http://help.github.com/ignore-files/ for more about ignoring files.

**/.idea/*
**/node_modules/**/*
**/dist/*
helpers/tela.pem

**/__pychace__/**
*.pyc

*/.vscode

*.env
*.db
backend/tela-api-manager/tela_master.db

*/htmlcov/*