<div class="flex-start ut-text-primary">
  <div style="background-color: rgb(37, 70, 70); padding: 1em" utFlexWidth xs="100%" md="20%">
    <div><img src="http://lorempixel.com/400/200/" width="98%" /></div>
    <div>
      <button mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab>
        <mat-icon>remover</mat-icon>
      </button>
    </div>
  </div>
  <div utFlexWidth xs="100%" md="70%">
    <form>
      <div class="flex-start">
        <ut-input-text utFlexWidth sm="100%" md="20%" title="Código" controlName="codigo" [formGroup]="formCadastro">
        </ut-input-text>
        <ut-input-text utFlexWidth sm="100%" md="78%" title="Nome" controlName="nome" [formGroup]="formCadastro">
        </ut-input-text>
      </div>
      <div class="flex-start mt-1">
        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Venda a Prazo" controlName="pr_venda_prazo"
          [formGroup]="formCadastro">
        </ut-input-number>
        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Venda a Vista" controlName="pr_venda_vista"
          [formGroup]="formCadastro">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Preço sugerido" controlName="pr_sugerido"
          [formGroup]="formCalculate">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Custo de venda" controlName="custo_venda"
          [formGroup]="formCalculate">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Markup Real" controlName="markup_real"
          [formGroup]="formCalculate">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="15%" title="Markup Real" controlName="markup_desejado"
          [formGroup]="formCalculate">
        </ut-input-number>
      </div>

      <div class="flex-start mt-1">
        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Preço Custo" controlName="pr_custo"
          [formGroup]="formCadastro">
        </ut-input-number>
        <ut-input-money utFlexWidth xs="100%" sm="45%" md="16%" title="Outros" controlName="outros"
          [formGroup]="formCadastro">
        </ut-input-money>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Estoque" controlName="estoque"
          [formGroup]="formCadastro">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Estoque mínimo" controlName="estoque_minimo"
          [formGroup]="formCadastro">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="16%" title="Quantidade Embal." controlName="qtd_embalagem"
          [formGroup]="formCadastro">
        </ut-input-number>

        <ut-input-number utFlexWidth xs="100%" sm="45%" md="15%" title="Markup Real" controlName="markup_desejado"
          [formGroup]="formCalculate">
        </ut-input-number>
        <ut-input-text utFlexWidth xs="100%" sm="45%" md="16%" title="Referencia" controlName="referencia"
          [formGroup]="formCadastro">
        </ut-input-text>

        <ut-input-text utFlexWidth xs="100%" sm="45%" md="16%" title="Observação" controlName="observacao"
          [formGroup]="formCadastro">
        </ut-input-text>

        <mat-form-field>
          <input utFlexWidth xs="100%" sm="45%" md="15%" matInput placeholder="Última Compra"
            [formGroup]="formCadastro">
        </mat-form-field>

        <mat-form-field>
          <input utFlexWidth xs="100%" sm="45%" md="15%" matInput placeholder="Última Venda" [formGroup]="formCadastro">
        </mat-form-field>

      </div>


      <div class="flex-start mt-1">
        <ut-input-list utFlexWidth sm="100%" md="10%" title="Unidade" controlName="unidade" displayField="unid"
          [dataSourceObservable]="obsUnidades" [formGroup]="formCadastro"></ut-input-list>
        <ut-input-list utFlexWidth sm="100%" md="18%" title="Setor" controlName="setor" displayField="nome"
          [dataSourceObservable]="obsSetores" [formGroup]="formCadastro"></ut-input-list>
      </div>


    </form>
  </div>
</div>
<mat-error *ngFor="let item of error">
  <div> {{ item.field }} : {{item.error}} </div>
</mat-error>

<button (click)="onSave()">Salvar</button>

<pre>
  {{ formCadastro.value | json }}
</pre>
