<div [formGroup]="formGroup">
  <input [formControlName]="controlName" type="hidden" />
  <mat-form-field>
    <input
      matInput
      [formControl]="field_aux"
      [placeholder]="title"
      [attr.list] ="dataList_id"
      autocomplete="off"
      onfocus="this.select()"
    />
    <mat-icon matSuffix>search</mat-icon>
    <datalist [id]="dataList_id">
      <option *ngFor="let item of dataList" [ngValue]="item">
        {{ item[displayField] }}
      </option>
    </datalist>
    <mat-error *ngFor="let error of getErrors()">
      {{ error }}
    </mat-error>
  </mat-form-field>
</div>
