<div class="form-field" [formGroup]="formGroup" [ngClass]="getDivClass()">
  <label [for]="controlName">
    {{ title }}
  </label>
  <input [formControlName]="controlName" type="hidden" />
  <div class="flex-start flex-nowrap">
    <input type="select"
     [formControl]="field_aux"
     [placeholder]="title"
     [attr.list]="dataList_id"
     autocomplete="off"
     onfocus="this.select()"
     #target
     (focus)="setFocus(target)"
     (focusout)="lossFocus()"
     />
  </div>
  <datalist [id]="dataList_id">
    <option *ngFor="let item of dataList" [ngValue]="item">
      {{ item[displayField] }} {{item.selected}}
    </option>
  </datalist>
  <mat-error *ngFor="let error of getErrors()">
    {{ error }}
  </mat-error>
</div>
