<aside>
    <div>
        <img src="" alt="">       
        <button mat-raised-button color="primary" (click)="onToogleMenu()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu_open</mat-icon>
    </div>
    <div>
        <ul >
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Cientes</a></li>
       </ul>
    </div>
</aside>