aside{
    background-color: cadetblue;
}


@media only screen and (max-width: 576px) {
    aside{
        background-color: crimson;
    }
}


ul{
    
}

.large-menu{
    width: 280px;
}

.small-menu{
    width: 60px;
}
