aside {
  margin: 0;
  padding: 0.3em;
  background-color: white;
  height: 100%;
}

nav {
  font-weight: 500;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  width: 100%;

}

li {
  margin: 0.2em;
}

a {
  padding: 0.3em;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #212121;
}

a:hover{
  background-color:#cfd8dc;
  color: #455a64;
}

mat-icon {
  padding-right: 0.5em;
}

.active-link {
  background-color:#E7ECEE;
  color: #005b9f;

}

@media only screen and (max-width: 576px) {
  aside {
    background-color: crimson;
    //display: none;
  }
}
