@import "../../../css/variables";

aside {
  margin: 0;
  padding: 0.3em;
  height: 100%;
}

nav {
  font-weight: 500;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  width: 100%;
}

li {
  margin: 0.2em;
}

a {
  padding: 0.3em;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: $ut-dark
}

a:hover{
  background-color: $ut-hover-bg;
  color: $ut-hover-color;
}

mat-icon {
  padding-right: 0.5em;
}

.active-link {
  color: $ut-active;
}

@media only screen and (max-width: 576px) {
  aside {
    background-color: crimson;
    //display: none;
  }
}
