<h1 mat-dialog-title class="ut-text-primary">{{ params.title }}</h1>
<p class="ut-text-primary">{{ params.subtitle }}</p>
<footer mat-dialog-actions class="flex-end">
  <button mat-raised-button class="btn-secondary" *ngIf="params.textBtnYes .length > 0" (click)="onYes()"> {{ params.textBtnYes }} </button>
  <button mat-raised-button class="btn-warn"   *ngIf="params.textBtnNo .length > 0"  (click)="onNo()"> {{ params.textBtnNo }} </button>
  <button mat-raised-button class="btn-accent" *ngIf="params.textBtnCancel.length > 0"  (click)="onCancel()"> {{ params.textBtnCancel }} </button>
</footer>
