main {
  min-height: 86vh;
  //  box-shadow: 2px -2px 8px -1px rgba(181,181,181,0.54);
  // border-top: 1px solid rgba(181,181,181,0.54);
  border-left: 1px solid rgba(181,181,181,0.35);
  padding: 0.1em;
  background-color: white;
}

.progress {
  display: flex;
  justify-content: flex-end;
}

