<p>dasboard works!</p>

<details id="detail-test">
  <summary>
    Alguam
  </summary>


<form action="" [formGroup]="cadastro"  (ngSubmit)="onSubmited()">

  <ut-input-text
     title="Nome"
     controlName="nome"
     maxlength="6"
     [formGroup]="cadastro"
  >
  </ut-input-text>

  <ut-input-number
  title="Idade"
  controlName="idade"
  [formGroup]="cadastro"
  max="10"
  min="-3"
  step="3"
  >
  </ut-input-number>


  <button type="submit">Enviar</button>
</form>
</details>

<button (click)="test()">testando</button>


<ut-detail [closed]='detailClosed'>
   outro texto que deveria ficar dentro de detail
   <ul>
     <li>1</li>
     <li>1</li>
     <li>1</li>
     <li>1</li>
     <li>1</li>
     <li>1</li>
     <li>1</li>
   </ul>
</ut-detail>
