<p>dasboard works!</p>

<section>
  Valor {{ 12788.95 | currency}}
</section>

<section>
  Data: {{ hoje | date:'full' }}
</section>

<br>

<div class="flex-start">

<ut-input-money utFlexWidth  md="10%" title="Valor" controlName="valor"
  [formGroup]="cadastro">
</ut-input-money>

<ut-input-money utFlexWidth  md="10%" title="desconto" controlName="desconto"
  [formGroup]="cadastro">
</ut-input-money>

<ut-input-date utFlexWidth  md="20%" title="data" controlName="data" [formGroup]="cadastro"
>

</ut-input-date>


<input type="search" name="" id="">

 <!-- <ut-input-money utFlexWidth  md="10%" title="Descontos" controlName="desconto"
[formGroup]="cadastro">
</ut-input-money> -->

</div>

<br>
<br>
<br>

<ut-input-checkbox  utFlexWidth  md="20%" title="ativo" controlName="ativo" [formGroup]="cadastro">
</ut-input-checkbox>



  <input [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>






<pre>
  {{ cadastro.value | json }}
</pre>


<div class="flex-start mt-1">
  <div  utFlexWidth xs="100%" sm="45%" md="16%" > 1</div >
  <div  utFlexWidth xs="100%" sm="45%" md="16%" > 12</div>
  <div  utFlexWidth xs="100%" sm="45%" md="16%" > 13</div>
  <div  utFlexWidth xs="100%" sm="45%" md="16%" > 14</div>
</div>
