// http://mcg.mbitson.com/#!?themename=tcdark

$ut-blue-gray-palette: (
    50 : #e6e7e7,
    100 : #c1c2c4,
    200 : #989a9c,
    300 : #6f7274,
    400 : #505357,
    500 : #313539,
    600 : #2c3033,
    700 : #25282c,
    800 : #1f2224,
    900 : #131617,
    A100 : #68c5f6,
    A200 : #37b3f3,
    A400 : #00a5f7,
    A700 : #0094de,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ut-blue-palette: (
    50 : #e0ecf3,
    100 : #b3d1e2,
    200 : #80b2cf,
    300 : #4d93bb,
    400 : #267bad,
    500 : #00649e,
    600 : #005c96,
    700 : #00528c,
    800 : #004882,
    900 : #003670,
    A100 : #9fc6ff,
    A200 : #6ca7ff,
    A400 : #3989ff,
    A700 : #1f79ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ut-yellow-palette: (
    50 : #fff7e0,
    100 : #ffecb3,
    200 : #ffdf80,
    300 : #ffd24d,
    400 : #ffc826,
    500 : #ffbe00,
    600 : #ffb800,
    700 : #ffaf00,
    800 : #ffa700,
    900 : #ff9900,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe3bf,
    A700 : #ffd7a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$ut-red-palette: (
    50 : #fce7e9,
    100 : #f8c4c8,
    200 : #f39ca3,
    300 : #ee747e,
    400 : #ea5762,
    500 : #e63946,
    600 : #e3333f,
    700 : #df2c37,
    800 : #db242f,
    900 : #d51720,
    A100 : #ffffff,
    A200 : #ffd4d5,
    A400 : #ffa1a4,
    A700 : #ff878b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$ut-primary: #313539;
$ut-primary-100: #c1c2c4;
$ut-secondary:#005b9f;

$ut-green: #145224;
$ut-green-50:#EFFBF2;
