// For more information: https://material.angular.io/guide/theming
@use '~@angular/material'as mat;
@include mat.core();
@import 'palette.scss';


$primary: mat.define-palette($ut-blue-gray-palette, 500);
$accent: mat.define-palette($ut-yellow-palette, 500);
$warn: mat.define-palette($ut-red-palette, 500);


$ut-theme: mat.define-light-theme((color: (primary: $primary,
      accent: $accent,
      warn: $warn)));

@include mat.all-component-themes($ut-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ut-table {
  width: 100%;
}

.mat-secondary {
  color: $ut-secondary;
}

.bg-primary {
  background-color: $ut-primary;
}

.bd-b-primary-light {
  border-bottom: 1px solid $ut-primary-100;
}

.ml-1 {
  margin-left: 3em;
}

.mt-1 {
  margin-top: 1em;
}
.mt-3 {
  margin-top: 3em;
}

.form-line {
  display: flex;
  justify-content: safe;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}


.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:0.5em
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items:  flex-end;
  flex-wrap: wrap;
}



.btn-secondary {
  background: $ut-secondary;
  color: #fff;
}

.btn-warn {
  background: $ut-warn;
  color: #fff;
}

.btn-accent {
  background: $ut-accent;
  color: #fff;
}

.notify-success {
  color: $ut-green !important;
  background-color: $ut-green-50 !important;
  border-color: $ut-green-50 !important;

  .mat-simple-snackbar-action {
    color: $ut-green !important;
  }
}

/** Formularios **/

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid $ut-primary-300;
}

.form-field input[type=checkbox]{
  display: flex;
  flex-direction: column;
  align-content: center;
}

label {
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  color: $ut-primary-400;
}

input {
  border: 0;
  width: auto;
  padding: 0.1rem;
}

// input[type=checkbox]{
//    border:0
// }

input:focus {
  outline: none;
}

.focused {
  border-bottom: 1px solid $ut-secondary-400;
  box-shadow: 2px 2px 2px 0px $ut-secondary-100;
}

.focused-checkbox label{
  color: $ut-secondary-400;
  font-weight: 500;
}

.error-checkbox label{
  color:  $ut-warn;
  font-weight: 500;
}

.focused label {
  color: $ut-secondary-400;
  font-weight: 500;
}

.error {
  border-bottom: 1px solid   $ut-warn;
}

.error label {
  color: $ut-warn;
}
