@import 'variables';


.ut-fc-gray {
  color:    $ut-gray;
}

.ut-fc-light {
  color:    $ut-light;
}



.ut-error {
  color:$ut-orange;
  background-color: #ffebee;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  display: block;
  width: 100%;
}
