$color-gray:#455a64;
$color-light:#F3F5F7;

.ut-fc-gray {
  color:    $color-gray;
}

.ut-fc-light {
  color:    $color-light;
}

.ut-title-1{
    font-size: 1rem;
}

.ut-title-2{
  font-size: .8rem;
}
